
.btn_block {
    margin-top: 10px;
    text-align: center;
    margin-left: 40%;
    margin-right:40%;
    }
    
button:hover {
background: #848788;
}

.or{
text-align: center;
}


.forinput{
    width: 285px;
    height: 36px;
    margin: 13px  0 0 600px;
    padding-left: 10px; 
    border-radius: 5px 5px 5px 5px;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.9); 
    background: #fff; 
    }      
    
    
    .popup{
        display: none;
    }